body {
    background-color: white;
  }
  
  .jumbotron {
    background-image: url(https://pa1.narvii.com/6549/81032d1a23ae106865a7a148286802f39e4a7534_hq.gif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
  }
  
  .containerJumbotron {
    background-color: #102522;
    border-radius: 20px;
    width: 75%;
    padding: 10px 0px 20px 0px;
    margin: auto;
  }